table {
    width: 100%;
    border: 3px solid #0366d6;
}

th, td {
    padding: 15px;
    text-align: left;
    border: 0px;
    border-bottom: 1px solid #dddddd;
}

th {
    background-color: #0366d6;
    color: white;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}