@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <table border="1" class="align-content-center">
        <caption>Cases by Municipality</caption>
        <tr>
            <th>Municipality</th>
            <th>Population</th>
            <th>Active cases</th>
            <th>Total cases</th>
            <th>Positive tests</th>
            <th>Total tests</th>
        </tr>
        <tr>
            <td>sadf</td>
            <td>sadf</td>
            <td>sadf</td>
            <td>sadf</td>
            <td>sadf</td>
            <td>sadf</td>
        </tr>
        <tr>
            <td>sadf</td>
            <td>sadf</td>
            <td>sadf</td>
            <td>sadf</td>
            <td>sadf</td>
            <td>sadf</td>
        </tr>
        <tr>
            <td>sadf</td>
            <td>sadf</td>
            <td>sadf</td>
            <td>sadf</td>
            <td>sadf</td>
            <td>sadf</td>
        </tr>
    </table>
</div>